# Items that don't need to be in a Docker image.
# Anything not used by the build system should go here.
Dockerfile
.dockerignore
.gitignore
README.md
npm-debug.log

# Artifacts that will be built during image creation.
node_modules